<div class="justify-content-start bg-secondary" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title p-3 text-light" id="offcanvasNavbarLabel">Destacados</h5>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 p-2 pe-3 ">
      <li class="nav-item">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_2X_751939-MLA46221843872_052021-F.webp" class="card-img-top" alt="ssd 500gb">
          <div class="card-body">
            <h5 class="card-title">SSD 500GB</h5>
            <p class="card-text">Considerado un dispositivo de alto rendimiento, la unidad en estado sólido A400 de Kingston está diseñada para las personas más exigentes. </p>
            <a href="#" class="btn btn-secondary">Ver Destacado</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_634621-MLA45731974326_042021-O.webp" style="height: 150px;" class="card-img-top" alt="xbox series x">
          <div class="card-body">
            <h5 class="card-title">Xbox Series X</h5>
            <p class="card-text">Con tu consola Xbox Series tendrás entretenimiento asegurado todos los días. Su tecnología fue creada para poner nuevos retos a jugadores.</p>
            <a href="#" class="btn btn-secondary">Ver Destacado</a>
          </div>
        </div>
      </li>
    </ul>
  </div>