<ul class="list-group list-group-horizontal-md d-sm-flex flex-wrap justify-content-center">
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_896913-MLA46868671159_072021-O.webp" class="card-img-top"
                alt="ssd 500gb">
            <div class="card-body">
                <h5 class="card-title">Nintendo Switch</h5>
                <p class="card-text">Con tu consola Switch tendrás entretenimiento asegurado todos los días. Su tecnología fue creada para poner nuevos retos tanto a jugadores principiantes como expertos.</p>
                <a href="#" class="btn btn-dark">Ver Producto</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_995465-MLA45731835097_042021-O.webp" style="height: 300px;" class="card-img-top"
                alt="ssd 500gb">
            <div class="card-body">
                <h5 class="card-title">Xbox Series S</h5>
                <p class="card-text">Con tu consola Xbox Series tendrás entretenimiento asegurado todos los días</p>
                <a href="#" class="btn btn-dark">Ver Producto</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_751939-MLA46221843872_052021-F.webp" class="card-img-top"
                alt="ssd 500gb">
            <div class="card-body">
                <h5 class="card-title">SSD 500GB</h5>
                <p class="card-text">Considerado un dispositivo de alto rendimiento, la unidad en estado sólido A400 de
                    Kingston está diseñada para las personas más exigentes. </p>
                    <a href="#" class="btn btn-dark">Ver Producto</a>
                </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="card" style="width: 18rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_634621-MLA45731974326_042021-O.webp" style="height: 300px;" class="card-img-top" alt="xbox series x">
            <div class="card-body">
              <h5 class="card-title">Xbox Series X</h5>
              <p class="card-text">Con tu consola Xbox Series tendrás entretenimiento asegurado todos los días. Su tecnología fue creada para poner nuevos retos a jugadores.</p>
              <a href="#" class="btn btn-dark">Ver Producto</a>
            </div>
          </div>
    </li>
</ul>